<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="CupboardSizerFrame">
		<size>195,229</size>
		<bg>wxSYS_COLOUR_GRADIENTACTIVECAPTION</bg>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Submit</label>
			<pos>64,184</pos>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>64,40</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl2" member="yes">
			<pos>64,88</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl3" member="yes">
			<pos>64,136</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Length</label>
			<pos>16,40</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Width</label>
			<pos>16,88</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Depth</label>
			<pos>16,136</pos>
		</object>
	</object>
</wxsmith>
